*.o
*.x
*.d
*.xml
/.project
*.XML
*.htm
*.html
*.dll
*.txt
*.patch
*.orig
*.out
*.log
*.sys
*.vxd
*.exe
*.tgz

pcm-numa
pcm-power
pcm
pcm-sensor
pcm-msr
pcm-memory
pcm-tsx
pcm-pcie
pcm-core
